.layout {
  min-height: 100vh;
}
.ant-layout-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  color: rgba(255, 255, 255, 0.85);
  width: 100%;
  height: 100%;
}

#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.chat_container {
  max-width: 1000px;
  margin: auto;
}

.messages_container {
  padding: 20px 50px;
  max-height: 70vh;
  overflow: auto;
}

.message_chat {
  display: flex;
}

.message_chat.me {
  justify-content: flex-start;
}

.message_chat.his {
  justify-content: flex-end;
}

.message_chat_text {
  padding: 20px;
  max-width: 350px;
  display: flex;
  border-radius: 5px;
}

.message_chat.his .message_chat_text {
  background-color: royalblue;
}

.message_chat.me .message_chat_text {
  background-color: dodgerblue;
}